@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

.App {
  margin: 30px auto;
  overflow: auto;
  padding: 30px;
}

.Form {
  background: #84AEED;
  max-width: 700px;
  margin: 30px auto;
  overflow: auto;
  min-height: 300px;
  border: 4px solid #328BDE;
  padding: 30px;
  border-radius: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.Card {
  background: #A1BFE1;
  max-width: 650px;
  margin: 30px auto;
  overflow: auto;
  height: auto;
  border: 4px solid #5C9AEB;
  padding: 30px;
  border-radius: 20px;
  cursor: pointer;
}

.submit-form {
  margin: 25px 10px 20px 10px;
}

.form-row label {
  display: block;
}

.form-row input {
  width: 95%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-name {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title-name {
  width: 20%;
}
.first-name, .last-name {
  width: 35%;
}

.form-finance {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.employment-status, .annual-income {
  width: 48%;
}

.form-address {
  width: 97%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.house-number, .postcode {
  width: 48%;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn-block {
  margin-top: 20px;
  display: block;
  width: 97%;
}

/* .card.selection {
  border-left: 5px solid green;
}

.card h3 {
  display: flex;
  align-items: center;
  justify-content: space-between;
} */

/* .btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn-block {
  display: block;
  width: 100%;
} */

/* .add-form {
  margin-bottom: 40px;
}

.form-control {
  margin: 20px 0;
}

.form-control label {
  display: block;
}

.form-control input {
  width: 100%;
  height: 40px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form-control-check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form-control-check label {
  flex: 1;
}

.form-control-check input {
  flex: 2;
  height: 20px;
} */

/* footer {
  margin-top: 30px;
  text-align: center;
} */
